<div class="welcome-text">

  <h1><span>~</span>Welcome, {{username}}!<span>~</span></h1>
</div>


<section class="section new-blog">
  <h2 class="text-center text-3xl my-7 font-semibold">Create a New Blog:</h2>
    <div class="input-box">
      <form id="new-blog-form" class="form new-blog-form">
        <div class="form-group">
          <input class="form-input" type="text" id="blog-title" name="blog-title" placeholder="Blog Title" />
        </div>
        
        <div class="form-group">
          <textarea class="form-input" id="blog-desc" name="blog-desc" placeholder="Blog Content"></textarea>
        </div>
        <div class="btn-box btns">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>

    </div>
</section>

  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Current Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>